[submodule "zinit"]
	path = zinit
	url = https://github.com/zdharma-continuum/zinit.git
[submodule "plugins/zsh-syntax-highlighting"]
	path = plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
